.burger-menu:active .icon-bars,
.burger-menu .icon-burger {
  display: none;
}
.burger-menu:active .icon-burger {
  display: inline;
}
.header {
  position: relative;
}
.alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media only screen and (max-width: 414px) {
  .logo img {
    height: auto;
    width: 100px;
  }
}
@media only screen and (min-width: 414px) {
  .logo img {
    height: auto;
    width: 150px;
  }
}
