.burger-menu:active .icon-bars,
.burger-menu .icon-burger {
  display: none;
}
.burger-menu:active .icon-burger {
  display: inline;
}

@media only screen and (max-width: 414px) {
  .logo img {
    height: auto;
    width: 100px;
  }
}
@media only screen and (min-width: 414px) {
  .logo img {
    height: auto;
    width: 150px;
  }
}
