.source-scroll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.source-scroll-container::-webkit-scrollbar {
  -webkit-appearance: none;
}
.source-scroll-container::-webkit-scrollbar:horizontal {
  height: 5px;
}

.source-scroll-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.297);
}


.destination-scroll-container::-webkit-scrollbar {
  -webkit-appearance: none;
}
.destination-scroll-container::-webkit-scrollbar:horizontal {
  height: 5px;
}

.destination-scroll-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.297);
}

.destination-scroll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}
